{{>admin/admin-header}}

<body>
    <!-- ============================================================== -->
    <!-- main wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">

        {{>admin/admin-navbar}}
        {{>admin/admin-sidebar}}

        <!-- ============================================================== -->
        <!-- sub wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">

            {{>admin/messages}}

            {{{body}}}

            {{>admin/admin-footer}}


        </div>
    </div>


</body>

</html>