{{>default/header}}

<body>

    {{>default/navbar}}

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <h1>Welcome to DataPal</h1>
            {{!-- <h2>Ahh malli kohomai</h2> --}}
            <a href="/login" class="btn-get-started">Login</a>
        </div>
    </section><!-- End Hero Section -->

    {{{body}}}

    {{>default/footer}}


</body>

</html>