{{>receptionist/receptionist-header}}

<body>
    <!-- ============================================================== -->
    <!-- main wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">

        {{>receptionist/receptionist-navbar}}
        {{>receptionist/receptionist-sidebar}}

        <!-- ============================================================== -->
        <!-- sub wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">

            {{>receptionist/receptionist-messages}}

            {{!-- {{{body}}} --}}

            {{>receptionist/receptionist-footer}}


        </div>
    </div>


</body>

</html>